<head>
<meta charset="UTF-8">
<title><%= data.default.title %></title>
<meta name="description" content="<%= data.default.description %>">
<meta name="keywords" content="<%= data.default.keywords %>">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta property="og:title" content="<%= data.default.title %>">
<meta property="og:description" content="<%= data.default.description %>">
<meta property="og:url" content="<%= data.default.url.sp %>">
<meta property="og:image" content="<%= data.default.og.image %>">
<link rel="canonical" href="<%= data.default.url.pc %>">
<link rel="apple-touch-icon" href="<%= data.default.apple_touch_icon %>">
<!-- CSS -->
<link rel="stylesheet" href="css/style.min.css">
<!-- /CSS -->
</head>